/*BOTÃO ESQUERDO 'FALE CONOSCO'*/
.fale-conosco-btn {
    transform: rotate(-90deg);
    position: fixed;
    top: 40vh;
    background: #ca3737;
    z-index: 99999999999;
    color: white;
    padding: 10px 15px;
    font-weight: 500;
    left: -38px;
}

.fale-conosco-btn:hover, .fale-conosco-btn:focus{
    color: white;
    text-decoration: none;
}

/*API CONVENCIONAL - DESKTOP*/
.whatsapp-btn {
    background-color: #2ab200;
    padding: 10px 5px;
    position: fixed;
    float: right;
    right: -145px;
    width: 200px;
    top: 35vh;
    text-decoration: none !important;
    color: white !important;
    font-weight: 100;
    font-family: calibri;
    text-align: center;
    font-size: 20px;
    transition-property: all;
    transition-duration: 1s;
    z-index: 999999999;
    font-weight: 500;
    font-family: calibri;
    font-size: 17px;
}
.whatsapp-btn:hover{
	right: -30px;
	transition-property: all;
	transition-duration: 1s;
}
.fa-whatsapp:before {
    font-size: 28px;
}
.whats-mobile{
	display: none;
}
.whatsapp-btn .row{
	width: 100%;
    margin: 0 !important;
}
.col-3{
	float: left;
	width: 25%;
}
.col-9 {
    float: right;
    width: 70%;
    margin-top: 3px;
    text-align: left;
}

/*API PARA DISPOSITIVOS MOBILES*/
@media(max-width: 768px){
	.whatsapp-btn {
	    display: none;
	}
	#btn_close_whats{
		display: none;
	}
	.whats-mobile{
		display: block;
		width: 100%;
		position: fixed;
		top: auto;
		bottom: 0;
		right: 0;
		padding: 5px;
        font-size: 17.5px;
        font-weight: 500;
	}
    .whatsapp-btn:hover {
       right: 0;
    }
}

/*CSS PARA API MAIOR*/
/*ESTE CÓDIGO DEVE SER INSERIDO APENAS EM PÁGINAS ONDE A API MAIOR DEVE SER EXIBIDA*/
/*INSERIR ESTE ARQUIVO CSS COMPLETO APENAS CASO A API MAIOR DEVA SER EXIBIDA EM TODAS AS PÁGINAS DO SITE*/
@media(min-width: 768px){
    /*API WHATSAPP*/
    .whats-btn-large{
        right: 0 !important;
        display: block;
        width: 150px !important;
    }
    #btn_close_whats {
        position: fixed;
        right: 150px;
        background: #2ab200;
        top: 35vh;
        padding: 5px;
        width: 20px;
        cursor: pointer;
        text-align: center;
        display: block;
        z-index: 99999999999;
        color: white;
        font-weight: 600;
    }
}